.services{
    width: 1440px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 170px;
}

.services_container{
    width: 1228px;
    height: 492px;
    display: flex;
    flex-direction: column;
}

.services_header{
    display: flex;
    height: 166px;
}

.main_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-left: 350px;
}

.cate_gory{
    font-size: 18px;
    font-weight: 100;
}

.head_ing{
    width: 547px;
    height: 65px;
    font-size: 50px;
    font-weight: bold;
}

.st_ar{
    width: 153px;
    height: 166px;
    padding-left: 170px;
}


.services-grid{
    width:1070px;
    height: 316px;
    margin-left: 44px;
     display: flex;
     justify-content: space-between;
     /* align-items: center;
} */

.service_card{
    width: 190px;
    height: 240px;
    padding: 4px 4px 4px 4px;
   
}

.service_card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(42, 41, 41, 0.12);
  border-radius: 36px;
  height: 250px;
  width: 210px;
}

.services_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services_img{
    width: 120px;
    height: 100px;
    display: flex;
    align-items: center;
}

.category_title{
    width: 190px;
    height: 27px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.categrory_desc{
    width: 181px;
    height: 78px;
    font-size: 16px;
    padding-top: 20px;
    line-height: 1.4;
}