.subscribe{
    width: 100%;
    padding-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
}

.subscribe_container{
    width: 1356px;
    height: 490px;
    border: 2px solid black;
}