.testimonial{
     width: 100%;
    padding-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
}

.testimonial_container{
    width: 1165px;
    height: 356px;
    border: 2px solid black;
}